.list-field .list-item{
  margin-bottom: .5em;
  position: relative;
}

.list-field .list-item .sortable-handle{
  pointer-events: auto;
  cursor: move;
}

.list-field .list-item.is-readonly{
  pointer-events: none;
  cursor: default;
}